[report]
exclude_lines = 
    def api_endpoints_root
    print()
    if hasattr
    response = admin_client.get(reverse(vs.ENDPOINT , args=[stock.pk]) ) 

[run]
omit = djangoapp/migrations/*
    djangoproject/*
    manage.py
    djangoapp/icons.py
    djangoapp/apps.py

    