[report]
exclude_lines = 
    def api_endpoints_root
    print()
    if hasattr
    raise Exception

[run]
omit = djangoapp/migrations/*
    djangoproject/*
    manage.py
    djangoapp/icons.py
    djangoapp/apps.py

    