[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
celery = "*"
requests = "*"
djangorestframework = "*"
pytest-django = "*"
python-decouple = "*"
pytest-cov = "*"
django-celery-beat = "==2.0.0"
pytest-factoryboy = "*"
factory-boy = "*"
django-bridger = "*"
dj-database-url = "*"
django-redis = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
django-cors-headers = "*"
django-filter = "*"
requests-mock = "*"

[scripts]
test = "pytest"
test_verbose = "pytest -v"
test_full = "pytest --cache-clear"
local = "python manage.py runserver 0.0.0.0:8000"
celery = "celery -A djangoproject worker -l info -Ofair --concurrency=1 -E"
start_db = "docker-compose up"
psql = "docker exec -it small_django_project_postgres_1 psql"

[requires]
python_version = "3.8.2"
